@use './_variable.scss' as *;
@use './_mixin.scss' as *;
@use './_common.scss' as *;

/* 1170px */

body{}
#wrap{position: relative;}
#headerWrap{
    width: $full;
    height: auto;
    /* height: 350px; */
    position: absolute;
    background-color: $white;
}
/* header{background-color: pink;} */
header{
    >div{
        width: $content;
        margin: 0 auto;
        padding: $basic*2 0;
        @include layout($justify:space-between, $item:center);
        position: relative;
        >nav{
            a{color: $black;}
            >ul{
                @include layout;
                >li{
                    padding-left: 35px;
                    @include layout;
                    // &:nth-child(2)>ul{left: 26%;}
                    // &:nth-child(3)>ul{left: 51%;}
                    // &:nth-child(4)>ul{left: 76%;}
                    >a{
                        font-size: $middle;
                        font-weight: bold;
                    }
                    >ul{
                        display: none;
                        >li{
                            margin-bottom: $basic;
                            color: $black;
                            &:first-child{margin-bottom: $basic*2;}
                            >h3{
                                font-size: $large;
                                color: $gray;
                                font-weight: bold;
                            }
                        }
                    }
                }
                &:hover>li>ul{
                    @include layout($wrap:wrap, $direction:column);
                    position: absolute;
                    left:0; top: $basic*10;
                    width: $full;
                }
            }
        }
    }
}